[build]
  command = "pnpm run build"
  functions = "netlify/functions"
  publish = "dist/spa"

[functions]
  external_node_modules = ["express", "cors", "dotenv"]
  node_bundler = "esbuild"
  included_files = ["server/**", "client/data/**", "shared/**"]
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
  
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
